table.table-hover:hover {
    cursor: pointer;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 10em;
    width: 10em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}